﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is a dummy app themed around notes and mind maps. Don't expect too much. It's all about the tech.</p>
