﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron margin-top-xs">
    <h1>Mind Map Learning App</h1>
    <p>This is an ASP .NET Core learning application using a Web API and SQL Server database.</p>
    <a asp-area="" asp-controller="Topics" asp-action="Index" class="btn btn-lg btn-primary">View Topics</a>
</div>